<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>Home</h1>
	<p>Welcome to the home page</p>
	<button class="button" onclick="location.href='/s/draw'">Aller au dessin</button>
</body>
</html>