<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tableau blanc</title>
	<script src="/socket.io/socket.io.js"></script>
    <script src="logger.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .title {
            text-align: center;
            background-color: #3498db;
            color: white;
            padding: 20px 0;
            border-radius: 0;
            border: none;
            font-size: 2em;
            margin-bottom: 50px;
        }
        .info {
            text-align: center;
            padding: 10px;
            font-size: 1.2em;
            color: #333;
            margin-bottom: 50px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
            margin: 0 80px;
        }
        .menu {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            padding: 20px;
        }
        .menu h3 {
            text-align: center;
            color: #333;
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        .formLabel {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        .formInput {
            width: 97%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }

    </style>

</head>
<body>
	<h1 class="title">Tableau Blanc</h1>
	<br>
    <h2 class="info">Bienvenue sur Tableau Blanc une application qui vous permet de partager vos idées en temps réel avec votre équipe créative</h2>

    <!-- Grille avec deux formulaires : un pour créer une salle et l'autre pour en rejoindre une : -->
    <div class="grid">
        <div class="menu">
            <h3>Rejoindre une salle</h3>
            <form class="connectForm" method="post" action="/join">
                <label class="formLabel" for="userIdLb">Votre idenfiant</label>
                <input class="formInput" id="userId" type="text" name="userId"><br>
                <br>
                <label class="formLabel" for="roomIdLb">Identifiant du tableau à rejoindre</label>
                <input class="formInput" id="roomId" type="text" name="roomIdLb"><br>
                <br>
                <label class="formLabel" for="mdpLb">Mot de passe du tableau (laissez vide si vous ne le conaissez pas)</label>
                <input class="formInput" id="mdp" type="text" name="mdp"><br>
                <br>
                <button type="submit" id="btn_join">Rejoindre la salle</button>
            </form>
        </div>
        <div class="menu">
            <h3>Créer une salle</h3>
            <form class="createForm" method="post" action="/create">
                <label class="formLabel" for="userIdLb">Votre idenfiant</label>
                <input class="formInput" id="userId" type="text" name="userId"><br>
                <br>
                <label class="formLabel" for="mdpLb">Mot de passe écrivain du tableau</label>
                <input class="formInput" id="mdp" type="text" name="mdp"><br>
                <br>
                <button type="submit" id="btn_create">Créer la salle</button>
            </form>
        </div>
    </div>
</body>
<script>
	const logLevel = 'DEBUG';
	const logMode = 'ALERT';
	var logger = new Logger(logLevel, logMode);

	document.getElementById('btn_join').addEventListener('click', function(event) {
        var userId = document.getElementById('userId').value;
        if (!userId) {
            event.preventDefault();
            alert('Veuillez donner votre identifiant');
        }
        var room = document.getElementById('roomId').value;
        if (!room) {
            event.preventDefault();
            alert('Veuillez donner le code de la salle');
        }
    });

    document.getElementById('btn_create').addEventListener('click', function(event) {
        var userId = document.getElementById('userId').value;
        if (!userId) {
            event.preventDefault();
            alert('Veuillez donner votre identifiant');
        }
    });


</script>
</html>