<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tableau blanc</title>
	<style>
        .title {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
			background-color: aquamarine;
			padding: 10px;
			border-radius: 20px;
			border: 2px solid black;
        }

		#canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

    </style>
</head>
<body>
	<h1 class="title">Tableau blanc</h1>
	<canvas id="canvas"></canvas>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
<script>
	const canvas = new fabric.Canvas('canvas', {
        width: window.innerWidth,
        height: window.innerHeight
    });
var i = 1;
//handler for moving objects on canvas
var moveHandler = function (evt) {
    var movingObject = evt.target;
    console.log(movingObject.get('left'), movingObject.get('top'));
};

//handler for done modifying objects on canvas
var modifiedHandler = function (evt) {
    var modifiedObject = evt.target;
    console.log(modifiedObject.get('left'), modifiedObject.get('top'));
};

var customEvtHandler = function (evt) {
    console.log("I was triggered by a custom event.");
};
var pathCreatedEvtHandler = function (evt) {
    console.log("I was triggered by a path created event.", evt);
	canvas.add(new fabric.Circle({
         radius: 40,
         fill: "#9370db",
         top: 100*i,
         left: 100,
      }));
	i++;
};
canvas.on('object:moving', moveHandler);
canvas.on('object:modified', modifiedHandler);
canvas.on('custom:event', customEvtHandler);
canvas.on('path:created', pathCreatedEvtHandler);


	let drawing = false;

	canvas.isDrawingMode = true;
	canvas.freeDrawingBrush.width = 5;
	canvas.freeDrawingBrush.color = "#000000";
</script>
</html>
