<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>Tableau blanc</h1>
	<p>Welcome to the project</p>
	<a href="/s/login">Se connecter</a>
</body>
</html>