<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tableau blanc</title>
	<script src="/socket.io/socket.io.js"></script>
    <script src="logger.js"></script>

    <style>
        .title {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
			background-color: aquamarine;
			padding: 10px;
			border-radius: 20px;
			border: 2px solid rgb(102, 94, 94);
        }
        .info {
            position: fixed;
            top: 6%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
			padding: 10px; 
        }
        .menu {
            position: fixed;
            top: 30%;
            z-index: 1;
			padding: 10px;
        }
        .formLabel{
            position: fixed;
            left: 40%;
        }
        .formInput{
            position: fixed;
            left: 52%;
        }

    </style>

</head>
<body>
	<h1 class="title">Tableau Blanc</h1>
    <h2 class="info">Bienvenue sur Tableau Blanc une application qui vous permet de partager vous idée en temps réelle avec votre équipe créative</h2>
	<div class="menu">
        <label class="formLabel" for="userNameLb">Entré le nom désiré</label>
        <textarea class="formInput" for="userName" type="text" name="userNameLb">
        <br>
        <br>
        <label class="formLabel" for="roomLb">Code de tableau a rejoindre</label>
        <textarea class="formInput" id="room" type="text" name="roomLb" onkeyup="success()">
        <br>
        <br>
        <label class="formLabel" for="mdpLb">Mot de passe</label>
        <textarea class="formInput" id="mdp" type="text" name="mdpLb" onkeyup="success()">
        <br>
        <br>
        <button type="button" id="btn_create" style="position: fixed; left:45%">Créer salle</button>
        <button type="button" id="btn_join" style=" position: fixed; left:50%" disabled>Rejoindre salle</button>
	</div>
</body>
<script>
	const logLevel = 'DEBUG';
	const logMode = 'ALERT';

	var socket = io();
	var logger = new Logger(logLevel, logMode);

	document.getElementById('btn_create').addEventListener('click', function() {
		index.createRoom(document.getElementById("userName").value)
	});

	document.getElementById('btn_join').addEventListener('click', function() {
		index.joinRoom(document.getElementById("userName").value,document.getElementById("room").value)
	});

</script>
</html>