<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Créer un compte</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<h1 class="title">Créer un compte</h1>
<%- message %>
<form class="form_login" method="post" action="/s/signup">
  <p>
    <label for="username">Username :</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password">
  </p>
  <p>
    <label for="confirmPassword">Confirmer le mot de passe :</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
  </p>
  <p>
    <span id="passwordError" style="color: red;"></span>
  </p>
  <p>
    <input type="submit" value="Créer un compte">
    <button type="button" onclick="location.href='/s/login'">Déjà un compte ?</button>
  </p>
</form>

<script>
  const passwordInput = document.getElementById('password');
  const confirmPasswordInput = document.getElementById('confirmPassword');
  const validationButton = document.querySelector('input[type="submit"]');
  const passwordError = document.getElementById('passwordError');

  // passwordError.textContent = "Les mots de passe ne correspondent pas";
  validationButton.disabled = true;

  function validate(passwordInput, confirmPasswordInput) {
    if (passwordInput.length < 8) {
      passwordError.textContent = "Le mot de passe doit contenir au moins 8 caractères";
      validationButton.disabled = true;
    } else if (passwordInput !== confirmPasswordInput) {
      passwordError.textContent = "Les mots de passe ne correspondent pas";
      validationButton.disabled = true;
    } else {
      passwordError.textContent = "";
      validationButton.disabled = false;
    }
  }

  passwordInput.addEventListener('input', () => {
    validate(passwordInput.value, confirmPasswordInput.value);
  });

  confirmPasswordInput.addEventListener('input', () => {
    validate(passwordInput.value, confirmPasswordInput.value);
  });
</script>

</body>
</html>