<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tableau blanc</title>
	<style>
        .title {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
			background-color: aquamarine;
			padding: 10px;
			border-radius: 20px;
			border: 2px solid black;
        }

		#canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

    </style>
</head>
<body>
	<h1 class="title">Tableau blanc</h1>
	<canvas id="canvas"></canvas>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
<script>
	const canvas = new fabric.Canvas('canvas', {
        width: window.innerWidth,
        height: window.innerHeight
    });


	let drawing = false;

	canvas.isDrawingMode = true;
	canvas.freeDrawingBrush.width = 5;
	canvas.freeDrawingBrush.color = "#000000";
</script>
</html>
