body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
}
  
a {
	color: #00B7FF;
}
  
.error {
	color: #d8000c;
	background-color: #ffd2d2;
	border: 1px solid #c70000;
	padding: 10px;
	border-radius: 5px;
}
  
.success {
	color: #4f8a10;
	background-color: #dfffdb;
	border: 1px solid #3d7700;
	padding: 10px;
	border-radius: 5px;
}
  
.title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #5742ce;
	margin-top: 50px;
	margin-bottom: 30px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.button {
	  display: inline-block;
	  padding: 10px 20px;
	  font-size: 16px;
	  font-weight: bold;
	  text-align: center;
	  text-decoration: none;
	  background-color: #5742ce;
	  color: #fff;
	  border-radius: 5px;
	  border: none;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
.button:hover {
	  background-color: #110ea5;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
  
.button[disabled] {
	background-color: #7b769c;
	color: #ffffff;
	cursor: not-allowed;
	transition: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
.button_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.form_login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	max-width: 400px;
}
  
.form_login p {
	margin: 10px 0;
}
  
.form_login label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
  
.form_login input[type="text"],
.form_login input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
}
  
.form_login input[type="submit"] {
	background-color: #5742ce;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
  
.form_login input[type="submit"]:hover {
	background-color: #4638a3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
