* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    background: white;
    border-radius: 0 10px 10px 0;
    padding: 0 0px 0px 0px;
}

.btn {
    background: white;
    outline: 1px solid #333;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
}

.mt-2 {
    margin-top: 0.75rem;
}

.ml-2 {
    margin-left: 0.75rem;
}